.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav {
/*     background-color: #ffffff2c; */
  top:0;
  position:fixed;
  height: 120px; 
  width:100%;
  z-index: 100;
  transition-timing-function: ease-in;
  transition: 1s;
}

.nav_blue {
    background-color: #ffffff;
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(0,186,223,1) 400%); */
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
}

.nav-main {
  padding: 0.5rem 3rem !important;
}

.nav_height_only {
  height: 60px;
}

.nav-items {
  color: #019fc9;
  font-weight: bold;
  font-size: large;
  padding: 0 0.5rem 0 0.5rem;
  text-transform: uppercase;
}

.nav-link-color {
  font-family: "Krona One", sans-serif;
  /*   font-family: 'Signika', sans-serif; */
  color: #019fc9;
}

.nav-link-color-about {
  font-family: "Krona One", sans-serif;
  /*   font-family: 'Signika', sans-serif; */
  color: #d62e17;
}

.logo_smaller {
  height: 50px;  
  transition-timing-function: ease-in;
  transition: .5s;
  margin: -2em;
 }